<meta charset="UTF-8"> 
<title>Instagram Instance!</title>

<!-- CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"> 
<!--Google Font API-->
<link href="https://fonts.googleapis.com/css?family=Oswald|Raleway|Ropa+Sans" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
